* {
  padding: 0;
  margin: 0;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
  background-color: #879cb9;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-right: 30px;
  scroll-behavior: smooth;
}

.option {
  display: flex;
}

.nav-option a {
  color: aliceblue;
  /* padding-left: 10px; */
  font-style: normal;
  text-decoration: none;
}

.nav-option .x:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease;
  color: #2e3d5d;
}

.nav-option {
  color: white;
  margin-left: 20px;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
}

.login-button button {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border-color: white;
  background-color: #879cb9;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;

  &:hover {
    color: #2e3d5d;
    border-color: #2e3d5d;
  }
}

.main {
  height: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 8vw;
}

.main img {
  height: 30vw;

}

.text {
  justify-content: center;
  align-items: center;
  color: #879cb9;
}

.text .eduhub {
  justify-content: center;
  font-size: 10vw;
  font-weight: bold;

  &:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }
}

/* Define the fade animation */
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hello-learner {
  display: flex;
  font-size: 7vw;
}

/* Apply the fade animation to the .animation class */
.animation {
  animation: fade 2s forwards;
  animation-iteration-count: infinite;
  /* Make the animation repeat infinitely */
}

/* Define the holder animation */
@keyframes holder {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Apply the holder animation to the .holder-animation class */
.holder-animation {
  animation: holder 4s;
  animation-iteration-count: infinite;
  /* Make the animation repeat infinitely */
}


.text .slogun {
  font-size: 3vw;
  color: #879cb9;
}

.about-us {
  /* height: 200px; */
  color: #2e3d5d;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
  padding: 10vw;
}

.about-us img:hover {
  transform: scale(1.5);
}

.z {
  font-size: 4vw;
}

.aboutus-img img {
  width: 30vw;
  background-color: black;
  margin-left: 9vw;
  margin-top: 40px;
}

.feature {
  height: auto;
  color: #2e3d5d;
  background-color: rgb(227, 225, 225);
  display: flex;
  justify-content: space-between;

  padding: 10vw;
}

.feature-photo {
  &:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }
}

.slideshow-container img {
  height: 20vw;
  width: 33vw;
  padding-right: 10vw;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #2e3d5d;
  color: rgb(151, 149, 149);
  /* position: fixed; */
  bottom: 0;
  /* width: 100%; */
}

.aboutus img {
  height: 300px;
  /* [1.1] Set it as per your need */
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.about-us img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.about-us:hover img {
  transform: scale(1.3);
}

@media only screen and (max-width: 600px) {

  @media (min-height: 600px) and (max-height: 650px) {
    .main {
      height: 650px;
    }
  }

  @media (min-height: 650px) and (max-height: 700px) {
    .main {
      height: 700px;
    }
  }

  @media (min-height: 700px) and (max-height: 750px) {
    .main {
      height: 750px;
    }
  }

  @media (min-height: 750px) and (max-height: 800px) {
    .main {
      height: 800px;
    }
  }

  @media (min-height: 800px) and (max-height: 850px) {
    .main {
      height: 850px;
    }
  }

  @media (min-height: 850px) and (max-height: 900px) {
    .main {
      height: 900px;
    }
  }

  @media (min-height: 900px) and (max-height: 950px) {
    .main {
      height: 950px;
    }
  }

  @media (min-height: 950px) and (max-height: 1000px) {
    .main {
      height: 1000px;
    }
  }

  @media (min-height: 1000px) and (max-height: 1050px) {
    .main {
      height: 1050px;
    }
  }

  @media (min-height: 1050px) and (max-height: 1100px) {
    .main {
      height: 1100px;
    }
  }

  @media (min-height: 1100px) and (max-height: 1150px) {
    .main {
      height: 1150px;
    }
  }

  @media (min-height: 1150px) and (max-height: 1200px) {
    .main {
      height: 1200px;
    }
  }

  .hello-learner {
    justify-content: center;
  }

  body {
    background-color: rgb(255, 255, 255);
  }

  .main img {
    height: 67vw;
    position: relative;
    top: -90px;

  }

  .text {
    position: relative;
    top: -90px;
  }

  .email {

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

  }

  .email button {

    color: #2e3d5d;
    height: 6vw;
    width: 27vw;
  }

  .email button::before {

    content: "";

    position: absolute;

    inset: 0;

    box-shadow: 0 1px hsl(00% 100% / 0.15) inset;

    background: hsl(0 0% 10%);

  }

  .email button::after {

    content: "";

    position: absolute;

    inset: -4px;

    filter: blur(20px);

    background: radial-gradient(50% 50% at center, hsl(var(--hue) 80% 85%), hsl(var(--hue) 80% 70%), transparent);

    }


  .text-p {
    color: #2e3d5d;
    font-size: 10px;
    padding: 20px;


  }

  .aboutus-img img {
    margin-left: 0px;
    width: 50vw;
    margin-bottom: 50px;
  }

  .about-us {
    flex-direction: column;
    text-align: center;
    padding-left: 10vw;
    height: auto;
    padding: 5vw;
    padding-top: 0%;
  }

  .feature {
    flex-direction: column;
    text-align: center;
    padding-left: 10vw;
    height: auto;

  }

  .z {
    font-size: 30px;
    padding: 20px;

  }

  .feature-text {
    font-size: 10px;
  }

  .page {
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .nav {

    height: 30px;
    font-size: 3vw;
    align-items: center;
  }

  .slideshow-container img {
    height: 25vw;
    width: 50vw;
    padding-right: 0vw;
    margin-bottom: 0%;

  }


  .main {
    padding-top: 0%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .login-button button {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
    width: 70px;
    font-size: 10px;
    border-radius: 20px;
    border-color: white;
    background-color: #879cb9;
  }
}

.foot {
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 230px;

}

.signin {
  color: #2e3d5d;
  display: flexbox;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin: 50px;
}

.email {
  margin: 20px;
  background-color: #ffffff;
}

.email input {
  margin-top: 15px;

  height: 4vw;
  border: 1px solid rgba(0, 0, 0, 0.345);
  background-color: rgba(255, 255, 255, 0.491);
  border-radius: 2px;
  width: 40vw;


}

.email input::placeholder {
  padding-left: 20px;
  color: rgba(88, 87, 87, 0.863);
  font-size: 1.5vw;
}

.email button {
  margin-top: 15px;
  height: 4vw;
  width: 20vw;
  font-size: 1.7vw;
  background-color: #879cb9;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border-color: #879cb9;
}

.text-p {
  color: #2e3d5d;
  font-size: 20px;
  padding-top: 20px;

}

.why img {
  width: 100vw;
}

.why {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
}